<html>
<body>    

    <form action="/custupd/" method="POST">
        {% csrf_token %}
  
         

    
    {% for c in cus %}

 Custid <input type="text" name="custid" value="{{c.custid}}"><br>
 Firstname <input type="text" name="custfname" value="{{c.custfname}}"><br>
 Lastname  <input type="text" name="custlname" value="{{c.custlname}}"><br>
 Phone <input type="text" name="custphone" value="{{c.custphone}}"><br>
 Email <input type="text" name="custemail" value="{{c.custemail}}"><br>  
 Company <input type="text" name="custcompany" value="{{c.custcompany}}"><br>
     {% endfor %}
 <input type="submit" value="Update"></input>
</form>
</body>
</html>
