<html>
    <body>
        <H1 align=center>ViscomCRM</H1>
        <a href="{% url 'custshowall' %}">Show All Existing Customers</a><br>
        <a href="{% url 'custsearchform' %}">Search for Customer by Customer ID</a><br>
        <a href="{% url 'custcreate' %}">Create New Customer Record</a><br>
        <a href="{% url 'custupdsearch' %}">Update Customer Record</a><br>
        <a href="{% url 'custdelsearch' %}">Delete Customer Record</a><br>
        <br>
        <a href="{% url 'leadshowall' %}">Show All Existing Leads</a><br>
        <a href="{% url 'leadshowsearch' %}">Show Leads by ID</a><br>
        <a href="{% url 'leadcreate' %}">Create New Lead</a><br>
        <a href="{% url 'leadupdsearch'  %}">Update Lead</a><br>
        <a href="{% url 'leaddel'  %}">Delete Lead</a><br>
        <br>
        
    
    
    </body>
</html>